/* General Styling */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

html {
       font-size: 20px;
}

body {
       font-family: Arial, sans-serif;
       line-height: 1.4;
       color: #333;
       overflow-x: hidden;
}

/* Utility Classes */
.container {
       max-width: 1100px;
       margin: auto;
}

.text-primary {
       color: #3693ff;
}

/* Navbar */
#navbar {
       display: flex ;
       justify-content: space-between;
       background: #333;
       color: #fff;
       padding: 1.5rem 8rem;
       position: sticky;
       top: 0;
       z-index: 1;
       border-bottom: 3px solid;

}

#navbar ul {
       display: flex;
       align-items: center;
       list-style: none;
}

#navbar h2 a{
       color: #fff;
       text-decoration: none;
}

#navbar li a {
       text-decoration: none;
       color: #fff;
       padding: 1rem;
       font-size: 1.3rem;
       margin: 0 0.5rem;
       border-radius: 5px;
       transition: background-color 0.5s;
}

#navbar li a:hover {
       background-color: #3693ff;
}

/* Showcase Area */
#showcase {
       background: url(../img/nedladdning.jpg) no-repeat center center/cover; 
       height: 89vh;
}

.showcase-content{
       display: flex;
       flex-direction: column;
       text-align: center;
       align-items: center;
       justify-content: center;
       position: absolute;
       top: 80px;
       bottom: 0;
       right: 0;

}







